.ulStyle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.liStyle  {
    display: inline;
    margin-right: 5px;
    border: 1px solid #000;
    padding: 3px;
    background-color: rgb(64,199,129);
}
a.menu{
    text-decoration: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}